<html>
  <head>
    <title>Ticketing</title>
  </head>
  <body>
    <% if (locals.user) { %>
      <%- include('partials/header') %>
    <% }%>
    <h1>Ticketing</h1>
    <h4>Welcome, <%= user %> to the ticketing portal</h4>

    <!-- <form action="/api/v1/user/sign-up" method="post">
            <label>Username</label>
            <input type= "text" aria-label="Name" name="username" />
            <br/>
            <label>Password</label>
            <input type= "password" aria-label="Name" name="userpwd" />
            <br/>
            <label>Full name</label>
            <input type= "text" aria-label="Name" name="userfullname" />
            <br/>
            <input type="submit" value="Register" />
        </form> -->
  </body>
</html>
