<html>
  <head>
    <title>Ticketing</title>
  </head>
  <body>
    <h1>Ticketing</h1>
    <h4>Login</h4>
    <form action="/api/v1/user/login" method="post">
      <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input type="text" class="form-control" name='username' id="username" aria-describedby="username">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" name="userpwd" id="exampleInputPassword1">
      </div>
      <input type="submit" class="btn btn-primary" value="Login" />
    </form>
  </body>
</html>
