<html>
    <head>
        <title>Ticketing</title>
    </head>
    <body>
        <h1>Ticketing</h1>
        <h4>Login</h4>
        <form action="" method="">
            <label>Username</label>
            <input type= "text" aria-label="Name" name="username" />
            <br/>
            <label>Password</label>
            <input type= "password" aria-label="Name" name="userpwd" />
            <input type="button" value="Submit" />
        </form>
    </body>
</html>